@model BudgetIT.Models.viewModels.NotaFiscalProdutoViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>NotaFiscalProduto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NotaFiscalProduto.Id" />
            <div class="form-group">
                <label asp-for="NotaFiscalProduto.Emissao" class="control-label"></label>
                <input asp-for="NotaFiscalProduto.Emissao" class="form-control" />
                <span asp-validation-for="NotaFiscalProduto.Emissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFiscalProduto.Vencimento" class="control-label"></label>
                <input asp-for="NotaFiscalProduto.Vencimento" class="form-control" />
                <span asp-validation-for="NotaFiscalProduto.Vencimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFiscalProduto.NrNota" class="control-label"></label>
                <input asp-for="NotaFiscalProduto.NrNota" class="form-control" />
                <span asp-validation-for="NotaFiscalProduto.NrNota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFiscalProduto.Valor" class="control-label"></label>
                <input asp-for="NotaFiscalProduto.Valor" class="form-control" />
                <span asp-validation-for="NotaFiscalProduto.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFiscalProduto.Oc" class="control-label"></label>
                <input asp-for="NotaFiscalProduto.Oc" class="form-control" />
                <span asp-validation-for="NotaFiscalProduto.Oc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFiscalProduto.FornecedorId" class="control-label"></label>
                <select asp-for="NotaFiscalProduto.FornecedorId" asp-items="@(new SelectList(Model.Fornecedor,"Id", "RazaoSocial"))" class="form-control"></select>
                <span asp-validation-for="NotaFiscalProduto.FornecedorId"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFiscalProduto.Notas" class="control-label"></label>
                <select asp-for="NotaFiscalProduto.Notas" asp-items="Html.GetEnumSelectList<Nota>()" class="form-control"></select>
                <span asp-validation-for="NotaFiscalProduto.Notas" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
