@model BudgetIT.Models.viewModels.NotaFiscalServicoViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NotaFiscalServico.Emissao" class="control-label"></label>
                <input asp-for="NotaFiscalServico.Emissao" class="form-control" />
                <span asp-validation-for="NotaFiscalServico.Emissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFiscalServico.Vencimento" class="control-label"></label>
                <input asp-for="NotaFiscalServico.Vencimento" class="form-control" />
                <span asp-validation-for="NotaFiscalServico.Vencimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFiscalServico.NrNota" class="control-label"></label>
                <input asp-for="NotaFiscalServico.NrNota" class="form-control" />
                <span asp-validation-for="NotaFiscalServico.NrNota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFiscalServico.Valor" class="control-label"></label>
                <input asp-for="NotaFiscalServico.Valor" class="form-control" />
                <span asp-validation-for="NotaFiscalServico.Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFiscalServico.Oc" class="control-label"></label>
                <input asp-for="NotaFiscalServico.Oc" class="form-control" />
                <span asp-validation-for="NotaFiscalServico.Oc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFiscalServico.FornecedorId" class="control-label"></label>
                <select asp-for="NotaFiscalServico.FornecedorId" asp-items="@(new SelectList(Model.Fornecedor, "Id", "RazaoSocial"))" class="form-control"></select>
                <span asp-validation-for="NotaFiscalServico.FornecedorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NotaFiscalServico.Status"></label>
                <select asp-for="NotaFiscalServico.Status" asp-items="Html.GetEnumSelectList<Nota>()" class="form-control"></select>
                <span asp-validation-for="NotaFiscalServico.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Back to Index</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
